@import "../../style/pallete.less";

body{
  background-color: @background;
  font-family: Arial, Verdana, sans-serif;
}
.header{
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  background-color: @fone;
  top: 0;
  padding: 20px;
}
.button{
  color: #fff;
  background-color: @background-button;
  border: 1px solid @background-button;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
}
.container{
  margin: 20px auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}